<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NE80 Template Generator</title>
</head>
<body>

<h2>Lutfen e-mail adresinizi giriniz :</h2>

<hr>
    <form method="post">
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca;">
    <legend>E-Mail</legend>
    <input type="text" name="e-mail" placeholder="E-Mail:"><br /><br />
    <button type="submit">Submit</button>
  </fieldset>

    </form>

<h2 style="color:red">{{comment}}</h2>

</body>
</html>